<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p | %d | [%t] %c{1} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${hp.ws.log.dir}/hp-ws.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p | %d | %c{5} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="REQUEST" class="com.hp.ws.logging.AsyncWsLogAppender" />

	<!-- Application Loggers -->
	<logger name="com.metropol" additivity="false"> 
		<level value="INFO" /> 
		<appender-ref ref="FILE" />
	 </logger>

	<!-- HttpRequest Logger -->
	<logger name="RequestLogger" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="REQUEST" />
	</logger>

	<logger name="com.hp.ws.service.impl" additivity="false"> 
		<level value="ALL" /> 
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.sun" additivity="false"> 
		<level value="ALL" /> 
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- 3rdparty Loggers -->

	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		
	</root>

</log4j:configuration>